{{>layout/header}}
 <body>
	<!-- Preloader -->
	<div class="preloader">
		<img src="/images/logos/favicon.ico" alt="loader" class="lds-ripple img-fluid" />
	</div>
	<!-- Body Wrapper -->
	<div class="page-wrapper" id="main-wrapper" data-layout="horizontal" data-navbarbg="skin6" data-sidebartype="full"
		data-sidebar-position="fixed" data-header-position="fixed">
		{{>layout/nav}}
		<div class="body-wrapper">
        <div class="container-fluid">
          <!--  Owl carousel -->
			  <h3 class="card-title mb-9 fw-semibold">TastyTales's Pick✨</h3> <br />
          <div class="owl-carousel counter-carousel owl-theme">
			  {{#list}}
            <div class="item">
              <div class="card border-0 zoom-in bg-light-primary shadow-none">
                <div class="card-body">
                  <div class="text-center">
                    <img src="{{rcp_img_s}}" width="100" height="100" class="mb-3" alt="" />
                    <p class="fw-semibold fs-3 text-primary mb-1" style="max-width: 300px; max-height: 300px; overflow: hidden; text-overflow: ellipsis; white-space: normal;">{{rcp_name}}</p>
                  </div>
                </div>
              </div>
            </div>
             {{/list}}
          </div>
          
          <!--  Row 1 -->
          <div class="row">
            <div class="col-lg-8 d-flex align-items-strech">
              <div class="card w-100">
                <div class="card-body">
                  <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                    <div class="mb-3 mb-sm-0">
                      <h5 class="card-title fw-semibold">Test님의 냉장고 요약</h5> 		<!--mem_name-->
                    </div>
                    <div>
                       <select class="form-select" id="fridge-select">
                        <option value="1">냉장고</option>
                        <option value="2">냉동고</option>
                        <option value="3">실온보관</option>
                      </select>
                    </div>
                  </div>
                  
                  <div class="row align-items-center" id="content-div">
                    <!-- 내용 업데이트 부분 -->
                  </div>
                  
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-12">
					
                  <!-- 식품 영양 정보 -->
                  <div class="card overflow-hidden">
                    <div class="card-body">
                      <div class="row align-items-center">
                        <div class="col-5">
                          <h5 class="card-title mb-9 fw-semibold">식품명의 영양 정보</h5>
                          <div>
                           <class="card-title mb-9 fw-semibold"> 단백질 : 		</class><br />
                           <class="card-title mb-9 fw-semibold"> 탄수화물 : 		</class><br />
                           <class="card-title mb-9 fw-semibold"> 지방 : 		</class><br />
						  </div>
                        </div>
                        
                        <div class="col-6">
                          <div class="d-flex justify-content-center">
							  
		                    <div class="card-body">
		                        <canvas id="nutritionChart"></canvas>
		                    </div>
		                    
                          </div>
                        </div>
                      </div> 
                    </div>
                  </div>
                  <!-- // 식품 영양 정보 -->
                </div>
					
                  <!-- 냉장고 신선도 -->
                  <div class="card">
                    <div class="card-body">
                      <div class="row alig n-items-start">
                          <h5 class="card-title mb-9 fw-semibold"> 냉장고 신선도</h5>
						<!-- 프로그래스바-->
						<div class="progress" style="height: 10px">
							<div id="progress-bar" class="progress-bar bg-empty" role="progressbar">
					          비움
					        </div>
						</div>
						<!--// 프로그래스바-->
                        </div>
                      </div>
                    </div>
                   <!-- //냉장고 신선도 -->
                  
                </div>
              </div>
            </div>
          </div>
          <!-- //row1 -->
        </div>
{{>layout/mobile_nav}}
    <!-- Import Js Files -->
    <script src="/libs/jquery/dist/jquery.min.js"></script>
    <!-- core files -->
    <script src="/js/app-style-switcher.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/libs/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="/js/dashboard.js"></script>
  </body>
</html>

<script>
  $(() => {
	  
  });
</script>

<!-- 차트 스크립트 -->
 <script>
        // 서버에서 받아온 단백질, 탄수화물, 지방 값
        var proteinValue = 50; // 단백질 값
        var carbValue = 30; // 탄수화물 값
        var fatValue = 20; // 지방 값

        // 차트 데이터 설정
        var data = {
            datasets: [{
                data: [proteinValue, carbValue, fatValue],
                backgroundColor: ['#aec0f5', '#ABCDEF', '#5e7ad6'],
            }],
            labels: ['단백질', '탄수화물', '지방'],
        };

        // 차트 그리기
        var ctx = document.getElementById("nutritionChart").getContext('2d');
        var nutritionChart = new Chart(ctx, {
            type: 'pie',
            data: data,
            options: {
				legend: {
					display: false // 레이블 숨기기
				}
			},
        });
    </script>



