{{>layout/header}}

<body>
	<!-- Preloader -->
	<div class="preloader">
		<img src="/images/logos/favicon.ico" alt="loader" class="lds-ripple img-fluid" />
	</div>
	<!-- Body Wrapper -->
	<div class="page-wrapper" id="main-wrapper" data-layout="horizontal" data-navbarbg="skin6" data-sidebartype="full"
		data-sidebar-position="fixed" data-header-position="fixed">
		{{>layout/nav}}
		<!-- --------------------------------------------------- -->
		<!-- Main Wrapper -->
		<!-- --------------------------------------------------- -->
		<div class="body-wrapper">
			<div class="container-fluid">
				<div class="card bg-light-info shadow-none position-relative overflow-hidden">
					<div class="card-body px-4 py-3">
						<div class="row align-items-center">
							<div class="col-9">
								<h4 class="fw-semibold mb-8">내 냉장고</h4>
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb">
										<li class="breadcrumb-item">
											<a class="text-muted " href="index-2.html">Dashboard</a>
										</li>
										<li class="breadcrumb-item" aria-current="page">내 냉장고
										</li>
									</ol>
								</nav>
							</div>
							<div class="col-3">
								<div class="text-center mb-n5">
									<img src="/images/breadcrumb/ChatBc.png" alt="" class="img-fluid mb-n4" />
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="action-btn layout-top-spacing mb-7 d-flex align-items-center justify-content-end">
					<button id="add-list" class="btn btn-primary">보관장소 추가</button>
				</div>
				<div class="modal fade" id="addItemModal" tabindex="-1" role="dialog"
					aria-labelledby="addTaskModalTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="add-task-title modal-title" id="addTaskModalTitleLabel1">재료 추가</h5>
								<h5 class="edit-task-title modal-title" id="addTaskModalTitleLabel2">재료 수정</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
								</button>
							</div>

							<div class="modal-body">
								<div class="compose-box">
									<div class="compose-content" id="addTaskModalTitle">
										<div class="addTaskAccordion" id="add_task_accordion">
											<div class="task-content task-text-progress">
												<div id="collapseTwo" class="collapse show"
													data-parent="#add_task_accordion">
													<div class="task-content-body">
														<form action="javascript:void(0);">
															<div class="row">
																<div class="col-md-12 mb-4">
																	<select id="kanban-title"
																		class="select2 form-control select2-hidden-accessible"
																		style="width: 100%; height: 36px"
																		data-select2-id="select2-data-1-i5xt"
																		tabindex="-1" aria-hidden="true">
																		<option data-select2-id="select2-data-3-eik6">
																			재료명</option>
																		<optgroup label="Alaskan/Hawaiian Time Zone"
																			data-select2-id="select2-data-449-6eju">
																			<option value="AK"
																				data-select2-id="select2-data-450-0vpw">
																				Alaska</option>
																			<option value="HI"
																				data-select2-id="select2-data-451-f7bq">
																				Hawaii</option>
																		</optgroup>
																		<optgroup label="Central Time Zone"
																			data-select2-id="select2-data-467-z8h5">
																			<option value="AL"
																				data-select2-id="select2-data-468-0uvg">
																				Alabama</option>
																			<option value="AR"
																				data-select2-id="select2-data-469-loop">
																				Arkansas</option>
																			<option value="IL"
																				data-select2-id="select2-data-470-eq0i">
																				Illinois</option>
																			<option value="IA"
																				data-select2-id="select2-data-471-yozg">
																				Iowa</option>
																			<option value="KS"
																				data-select2-id="select2-data-472-3laf">
																				Kansas</option>
																			<option value="KY"
																				data-select2-id="select2-data-473-7071">
																				Kentucky</option>
																			<option value="LA"
																				data-select2-id="select2-data-474-0v1q">
																				Louisiana</option>
																			<option value="MN"
																				data-select2-id="select2-data-475-fasr">
																				Minnesota</option>
																			<option value="MS"
																				data-select2-id="select2-data-476-zap8">
																				Mississippi</option>
																			<option value="MO"
																				data-select2-id="select2-data-477-abtd">
																				Missouri</option>
																			<option value="OK"
																				data-select2-id="select2-data-478-rr9l">
																				Oklahoma</option>
																			<option value="SD"
																				data-select2-id="select2-data-479-qd38">
																				South Dakota</option>
																			<option value="TX"
																				data-select2-id="select2-data-480-p6ed">
																				Texas</option>
																			<option value="TN"
																				data-select2-id="select2-data-481-36ka">
																				Tennessee</option>
																			<option value="WI"
																				data-select2-id="select2-data-482-2n5a">
																				Wisconsin</option>
																		</optgroup>
																	</select>
																</div>
															</div>
															<div class="row">
																<div class="col-md-12">
																	<div class="form-group mb-4">
																		<select class="form-select mr-sm-2" id="kanban-text">
																			<option selected="">상세명</option>
																			<option value="1">One</option>
																			<option value="2">Two</option>
																			<option value="3">Three</option>
																		</select>
																	</div>
																</div>
															</div>


															<div class="row">
																<div class="col-md-12">
																	<div class="form-group">
																		<input type="datetime-local" id="" class="form-control" value="2008-05-13T22:33:00">
																	</div>
																</div>
															</div>
														</form>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="modal-footer justify-content-start">
								<button class="btn btn-dark d-flex align-items-center gap-1"
									data-bs-dismiss="modal">취소</button>
								<button data-btn-action="addTask" class="btn add-tsk btn-primary">등록</button>

							</div>
						</div>
					</div>
				</div>
				<div class="modal fade" id="addListModal" tabindex="-1" role="dialog"
					aria-labelledby="addListModalTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title add-list-title" id="addListModalTitleLabel1">보관장소 추가</h5>
								<h5 class="modal-title edit-list-title" id="addListModalTitleLabel2">Edit List</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<div class="compose-box">
									<div class="compose-content" id="addListModalTitle">
										<form action="javascript:void(0);">
											<div class="row">
												<div class="col-md-12">
													<div class="list-title d-flex align-items-center">
														<input id="item-name" type="text" class="form-control"
															name="place" />
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
							<div class="modal-footer justify-content-start">
								<button class="btn btn-secondary d-flex align-items-center gap-1" data-bs-dismiss="modal">취소</button>
								<button class="btn add-list btn-primary">등록</button>
							</div>
						</div>
					</div>
				</div>
				<div class="modal fade" id="deleteConformation" tabindex="-1" role="dialog"
					aria-labelledby="deleteConformationLabel" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content" id="deleteConformationLabel">
							<div class="modal-header">
								<div
									class="icon round-40 d-flex align-items-center justify-content-center bg-light-danger text-danger me-2 rounded-circle">
									<i class="ti ti-trash fs-6"></i>
								</div>
								<h5 class="modal-title fw-semibold" id="exampleModalLabel">재료를 삭제하시겠습니까?</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<p class="mb-0">해당 재료를 삭제하시겠습니까? 삭제한 재료는 복원할 수 없습니다.</p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">취소</button>
								<button type="button" class="btn btn-danger" data-remove="task">삭제</button>
							</div>
						</div>
					</div>
				</div>

				<div class="row scrumboard" id="cancel-row">
					<div class="col-lg-12 layout-spacing pb-3" data-simplebar="">

						<div class="task-list-section">

							<div data-item="item-todo" class="task-list-container" data-action="sorting">
								<div class="connect-sorting connect-sorting-todo">
									<div class="task-container-header">
										<h6 class="item-head mb-0 fs-4 fw-semibold" data-item-title="냉장">냉장</h6>
										<div class="hstack gap-2">
											<div class="add-kanban-title">
												<a class="addTask d-flex align-items-center justify-content-center gap-1 lh-sm"
													data-bs-toggle="tooltip" data-bs-placement="top"
													data-bs-title="재료 추가">
													<i class="ti ti-plus text-dark"></i>
												</a>
											</div>
											<div class="dropdown">
												<a class="dropdown-toggle" href="#" role="button"
													id="dropdownMenuLink-1" data-bs-toggle="dropdown"
													aria-haspopup="true" aria-expanded="true">
													<i class="ti ti-dots-vertical text-dark"></i>
												</a>
												<div class="dropdown-menu dropdown-menu-end"
													aria-labelledby="dropdownMenuLink-1">
													<a class="dropdown-item list-delete" href="javascript:void(0);">장소명
														변경</a>
													<a class="dropdown-item list-clear-all"
														href="javascript:void(0);">모두 비우기</a>
												</div>
											</div>
										</div>
									</div>

									<div class="connect-sorting-content" data-sortable="true">
										<div data-draggable="true" class="card img-task">
											<div class="card-body">
												<div class="task-header">
													<div class="">
														<h4 class="" data-item-title="This is first task">마늘</h4>
													</div>
													<div class="dropdown">
														<a class="dropdown-toggle" href="#" role="button"
															id="dropdownMenuLink-1" data-bs-toggle="dropdown"
															aria-haspopup="true" aria-expanded="true">
															<i class="ti ti-dots-vertical text-dark"></i>
														</a>
														<div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink-1">
															<a class="dropdown-item kanban-item-edit cursor-pointer d-flex align-items-center gap-1" href="javascript:void(0);"><i
																	class="ti ti-pencil fs-5"></i>수정</a>
															<a class="dropdown-item kanban-item-delete cursor-pointer d-flex align-items-center gap-1"
																href="javascript:void(0);"><i
																	class="ti ti-trash fs-5"></i>삭제</a>
														</div>
													</div>
												</div>
												<div class="task-content">
													<p class="mb-0"
														data-item-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, o eiusmod tempor incid.">
														디테일이름
													</p>
												</div>
												<div class="task-body">
													<div class="task-bottom flex-wrap">
														<div class="tb-section-1">
															<span class="hstack gap-2 fs-2" data-item-date="24 July">
																등록일시 <i class="ti ti-calendar fs-5"></i> 23/11/05 16:36
															</span>
														</div>
														<div class="tb-section-1">
															<span class="hstack gap-2 fs-2" data-item-date="24 July">
																유통기한 <i class="ti ti-calendar fs-5"></i> 23/11/05 16:36
															</span>
														</div>
														<div class="tb-section-2">
															<span class="badge text-bg-success fs-1">D-day</span>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div data-draggable="true" class="card img-task">
											<div class="card-body">

												<div class="task-header">
													<div class="">
														<h4 class="" data-item-title="Lets do some task on pd">
															Lets do some task on pd</h4>
													</div>
													<div class="dropdown">
														<a class="dropdown-toggle" href="#" role="button"
															id="dropdownMenuLink-1" data-bs-toggle="dropdown"
															aria-haspopup="true" aria-expanded="true">
															<i class="ti ti-dots-vertical text-dark"></i>
														</a>
														<div class="dropdown-menu dropdown-menu-end"
															aria-labelledby="dropdownMenuLink-1">
															<a class="dropdown-item kanban-item-edit cursor-pointer d-flex align-items-center gap-1"
																href="javascript:void(0);"><i
																	class="ti ti-pencil fs-5"></i>Edit</a>
															<a class="dropdown-item kanban-item-delete cursor-pointer d-flex align-items-center gap-1"
																href="javascript:void(0);"><i
																	class="ti ti-trash fs-5"></i>Delete</a>
														</div>
													</div>
												</div>

												<div class="task-content">
													<p class="mb-0"
														data-item-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, o eiusmod tempor incid.">
														Lorem ipsum dolor sit amet, consectetur adipisicing elit, o
														eiusmod tempor incid.
													</p>
												</div>

												<div class="task-body">

													<div class="task-bottom">
														<div class="tb-section-1">
															<span class="hstack gap-2 fs-2" data-item-date="24 July"><i
																	class="ti ti-calendar fs-5"></i> 24 July </span>
														</div>
														<div class="tb-section-2">
															<span class="badge text-bg-warning fs-1">Development</span>
														</div>
													</div>

												</div>
											</div>
										</div>

										<div data-draggable="true" class="card img-task">
											<div class="card-body">

												<div class="task-header">
													<div class="">
														<h4 class=""
															data-item-title="Do some projects on React Native with Flutter">
															Do some projects on React Native with Flutter</h4>
													</div>
													<div class="dropdown">
														<a class="dropdown-toggle" href="#" role="button"
															id="dropdownMenuLink-1" data-bs-toggle="dropdown"
															aria-haspopup="true" aria-expanded="true">
															<i class="ti ti-dots-vertical text-dark"></i>
														</a>
														<div class="dropdown-menu dropdown-menu-end"
															aria-labelledby="dropdownMenuLink-1">
															<a class="dropdown-item kanban-item-edit cursor-pointer d-flex align-items-center gap-1"
																href="javascript:void(0);"><i
																	class="ti ti-pencil fs-5"></i>Edit</a>
															<a class="dropdown-item kanban-item-delete cursor-pointer d-flex align-items-center gap-1"
																href="javascript:void(0);"><i
																	class="ti ti-trash fs-5"></i>Delete</a>
														</div>
													</div>
												</div>

												<div class="task-body">

													<div class="task-bottom">
														<div class="tb-section-1">
															<span class="hstack gap-2 fs-2" data-item-date="24 July"><i
																	class="ti ti-calendar fs-5"></i> 24 July </span>
														</div>
														<div class="tb-section-2">
															<span class="badge text-bg-primary fs-1">Mobile</span>
														</div>
													</div>

												</div>
											</div>
										</div>

									</div>

								</div>
							</div>

							<div data-item="item-inprogress" class="task-list-container" data-action="sorting">
								<div class="connect-sorting connect-sorting-inprogress">
									<div class="task-container-header">
										<h6 class="item-head mb-0 fs-4 fw-semibold" data-item-title="In Progress">In
											Progress</h6>
										<div class="hstack gap-2">
											<div class="dropdown">
												<a class="dropdown-toggle" href="#" role="button"
													id="dropdownMenuLink-1" data-bs-toggle="dropdown"
													aria-haspopup="true" aria-expanded="true">
													<i class="ti ti-dots-vertical text-dark"></i>
												</a>
												<div class="dropdown-menu dropdown-menu-end"
													aria-labelledby="dropdownMenuLink-1">
													<a class="dropdown-item list-edit"
														href="javascript:void(0);">Edit</a>
													<a class="dropdown-item list-delete"
														href="javascript:void(0);">Delete</a>
													<a class="dropdown-item list-clear-all"
														href="javascript:void(0);">Clear All</a>
												</div>
											</div>
										</div>
									</div>

									<div class="connect-sorting-content" data-sortable="true">

										<div data-draggable="true" class="card">
											<div class="card-body">

												<div class="task-header">
													<div class="">
														<h4 class="" data-item-title="Design navigation changes">
															Design navigation changes</h4>
													</div>
													<div class="dropdown">
														<a class="dropdown-toggle" href="#" role="button"
															id="dropdownMenuLink-1" data-bs-toggle="dropdown"
															aria-haspopup="true" aria-expanded="true">
															<i class="ti ti-dots-vertical text-dark"></i>
														</a>
														<div class="dropdown-menu dropdown-menu-end"
															aria-labelledby="dropdownMenuLink-1">
															<a class="dropdown-item kanban-item-edit cursor-pointer d-flex align-items-center gap-1"
																href="javascript:void(0);"><i
																	class="ti ti-pencil fs-5"></i>Edit</a>
															<a class="dropdown-item kanban-item-delete cursor-pointer d-flex align-items-center gap-1"
																href="javascript:void(0);"><i
																	class="ti ti-trash fs-5"></i>Delete</a>
														</div>
													</div>
												</div>

												<div class="task-body">

													<div class="task-bottom">
														<div class="tb-section-1">
															<span class="hstack gap-2 fs-2" data-item-date="24 July"><i
																	class="ti ti-calendar fs-5"></i> 24 July </span>
														</div>
														<div class="tb-section-2">
															<span class="badge text-bg-primary fs-1">Mobile</span>
														</div>
													</div>

												</div>
											</div>
										</div>

										<div data-draggable="true" class="card img-task">
											<div class="card-body">

												<div class="task-header">
													<div class="">
														<h4 class="" data-item-title="Battle with fire">
															Battle with fire</h4>
													</div>
													<div class="dropdown">
														<a class="dropdown-toggle" href="#" role="button"
															id="dropdownMenuLink-1" data-bs-toggle="dropdown"
															aria-haspopup="true" aria-expanded="true">
															<i class="ti ti-dots-vertical text-dark"></i>
														</a>
														<div class="dropdown-menu dropdown-menu-end"
															aria-labelledby="dropdownMenuLink-1">
															<a class="dropdown-item kanban-item-edit cursor-pointer d-flex align-items-center gap-1"
																href="javascript:void(0);"><i
																	class="ti ti-pencil fs-5"></i>Edit</a>
															<a class="dropdown-item kanban-item-delete cursor-pointer d-flex align-items-center gap-1"
																href="javascript:void(0);"><i
																	class="ti ti-trash fs-5"></i>Delete</a>
														</div>
													</div>
												</div>

												<div class="task-content p-0">
													<img src="/images/backgrounds/kanban-img-2.jpg" class="img-fluid"
														alt="scrumboard">
												</div>

												<div class="task-body">

													<div class="task-bottom">
														<div class="tb-section-1">
															<span class="hstack gap-2 fs-2" data-item-date="24 July"><i
																	class="ti ti-calendar fs-5"></i> 24 July </span>
														</div>
														<div class="tb-section-2">
															<span class="badge text-bg-success fs-1">Design</span>
														</div>
													</div>

												</div>
											</div>
										</div>

										<div data-draggable="true" class="card">
											<div class="card-body">

												<div class="task-header">
													<div class="">
														<h4 class="" data-item-title="First design concept">
															First design concept</h4>
													</div>
													<div class="dropdown">
														<a class="dropdown-toggle" href="#" role="button"
															id="dropdownMenuLink-1" data-bs-toggle="dropdown"
															aria-haspopup="true" aria-expanded="true">
															<i class="ti ti-dots-vertical text-dark"></i>
														</a>
														<div class="dropdown-menu dropdown-menu-end"
															aria-labelledby="dropdownMenuLink-1">
															<a class="dropdown-item kanban-item-edit cursor-pointer d-flex align-items-center gap-1"
																href="javascript:void(0);"><i
																	class="ti ti-pencil fs-5"></i>Edit</a>
															<a class="dropdown-item kanban-item-delete cursor-pointer d-flex align-items-center gap-1"
																href="javascript:void(0);"><i
																	class="ti ti-trash fs-5"></i>Delete</a>
														</div>
													</div>
												</div>

												<div class="task-body">

													<div class="task-bottom">
														<div class="tb-section-1">
															<span class="hstack gap-2 fs-2" data-item-date="24 July"><i
																	class="ti ti-calendar fs-5"></i> 24 July </span>
														</div>
														<div class="tb-section-2">
															<span class="badge text-bg-primary fs-1">Mobile</span>
														</div>
													</div>

												</div>
											</div>
										</div>

									</div>


								</div>
							</div>

							<div data-item="item-pending" class="task-list-container" data-action="sorting">
								<div class="connect-sorting connect-sorting-pending">
									<div class="task-container-header">
										<h6 class="item-head mb-0 fs-4 fw-semibold" data-item-title="Pending">Pending
										</h6>
										<div class="hstack gap-2">
											<div class="dropdown">
												<a class="dropdown-toggle" href="#" role="button"
													id="dropdownMenuLink-1" data-bs-toggle="dropdown"
													aria-haspopup="true" aria-expanded="true">
													<i class="ti ti-dots-vertical text-dark"></i>
												</a>
												<div class="dropdown-menu dropdown-menu-end"
													aria-labelledby="dropdownMenuLink-1">
													<a class="dropdown-item list-edit"
														href="javascript:void(0);">Edit</a>
													<a class="dropdown-item list-delete"
														href="javascript:void(0);">Delete</a>
													<a class="dropdown-item list-clear-all"
														href="javascript:void(0);">Clear All</a>
												</div>
											</div>
										</div>
									</div>

									<div class="connect-sorting-content" data-sortable="true">

										<div data-draggable="true" class="card img-task">
											<div class="card-body">

												<div class="task-header">
													<div class="">
														<h4 class="" data-item-title="Persona development">
															Persona development</h4>
													</div>
													<div class="dropdown">
														<a class="dropdown-toggle" href="#" role="button"
															id="dropdownMenuLink-1" data-bs-toggle="dropdown"
															aria-haspopup="true" aria-expanded="true">
															<i class="ti ti-dots-vertical text-dark"></i>
														</a>
														<div class="dropdown-menu dropdown-menu-end"
															aria-labelledby="dropdownMenuLink-1">
															<a class="dropdown-item kanban-item-edit cursor-pointer d-flex align-items-center gap-1"
																href="javascript:void(0);"><i
																	class="ti ti-pencil fs-5"></i>Edit</a>
															<a class="dropdown-item kanban-item-delete cursor-pointer d-flex align-items-center gap-1"
																href="javascript:void(0);"><i
																	class="ti ti-trash fs-5"></i>Delete</a>
														</div>
													</div>
												</div>

												<div class="task-content">
													<p class="mb-0"
														data-item-text="Create user personas based on the research data to represent different user groups and their characteristics, gols, and behaviors..">
														Create user personas based on the research data to represent
														different user groups and their
														characteristics, gols, and behaviors..
													</p>
												</div>

												<div class="task-body">

													<div class="task-bottom">
														<div class="tb-section-1">
															<span class="hstack gap-2 fs-2" data-item-date="24 July"><i
																	class="ti ti-calendar fs-5"></i> 24 July </span>
														</div>
														<div class="tb-section-2">
															<span class="badge text-bg-warning fs-1">UX stage</span>
														</div>
													</div>

												</div>
											</div>
										</div>

										<div data-draggable="true" class="card img-task">
											<div class="card-body">

												<div class="task-header">
													<div class="">
														<h4 class="" data-item-title="Redesign overview">
															Redesign overview</h4>
													</div>
													<div class="dropdown">
														<a class="dropdown-toggle" href="#" role="button"
															id="dropdownMenuLink-1" data-bs-toggle="dropdown"
															aria-haspopup="true" aria-expanded="true">
															<i class="ti ti-dots-vertical text-dark"></i>
														</a>
														<div class="dropdown-menu dropdown-menu-end"
															aria-labelledby="dropdownMenuLink-1">
															<a class="dropdown-item kanban-item-edit cursor-pointer d-flex align-items-center gap-1"
																href="javascript:void(0);"><i
																	class="ti ti-pencil fs-5"></i>Edit</a>
															<a class="dropdown-item kanban-item-delete cursor-pointer d-flex align-items-center gap-1"
																href="javascript:void(0);"><i
																	class="ti ti-trash fs-5"></i>Delete</a>
														</div>
													</div>
												</div>

												<div class="task-content p-0">
													<img src="/images/backgrounds/my-card.jpg" class="img-fluid"
														alt="scrumboard">
												</div>

												<div class="task-body">

													<div class="task-bottom">
														<div class="tb-section-1">
															<span class="hstack gap-2 fs-2" data-item-date="24 July"><i
																	class="ti ti-calendar fs-5"></i> 24 July </span>
														</div>
														<div class="tb-section-2">
															<span class="badge text-bg-success fs-1">Design</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<h5 class="mb-4 mt-3 fs-5 fw-semibold">나의 재료기반 기존 레시피</h5>
					<div class="col-md-6 col-lg-3">
						<div class="card rounded-2 overflow-hidden">
							<div class="position-relative">
								<a href="javascript:void(0)"><img src="/images/products/s4.jpg"
										class="card-img-top rounded-0" alt="..."></a>
								<a href="javascript:void(0)"
									class="btn btn-danger rounded-circle p-2 d-flex align-items-center justify-content-center position-absolute bottom-0 end-0 me-3 mb-n3">
									<i class="ti ti-heart"></i>
								</a>
							</div>
							<div class="card-body p-4">
								<h5 class="fw-semibold fs-4 mb-2">Boat Headphone</h5>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3">
						<div class="card rounded-2 overflow-hidden">
							<div class="position-relative">
								<a href="javascript:void(0)"><img src="/images/products/s5.jpg"
										class="card-img-top rounded-0" alt="..."></a>
								<a href="javascript:void(0)"
									class="btn btn-danger rounded-circle p-2 d-flex align-items-center justify-content-center position-absolute bottom-0 end-0 me-3 mb-n3">
									<i class="ti ti-basket"></i>
								</a>
							</div>
							<div class="card-body p-4">
								<h5 class="fw-semibold fs-4 mb-2">MacBook Air Pro</h5>
								<div class="d-flex align-items-center justify-content-between">
									<div class="d-flex align-items-center gap-2">
										<h5 class="fw-semibold fs-4 mb-0">$900</h5>
										<p class="mb-0 text-decoration-line-through">$650</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3">
						<div class="card rounded-2 overflow-hidden">
							<div class="position-relative">
								<a href="javascript:void(0)"><img src="/images/products/s7.jpg"
										class="card-img-top rounded-0" alt="..."></a>
								<a href="javascript:void(0)"
									class="btn btn-primary rounded-circle p-2 d-flex align-items-center justify-content-center position-absolute bottom-0 end-0 me-3 mb-n3">
									<i class="ti ti-basket"></i>
								</a>
							</div>
							<div class="card-body p-4">
								<h5 class="fw-semibold fs-4 mb-2">Red Valvet Dress</h5>
								<div class="d-flex align-items-center justify-content-between">
									<div class="d-flex align-items-center gap-2">
										<h5 class="fw-semibold fs-4 mb-0">$200</h5>
										<p class="mb-0 text-decoration-line-through">$150</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3">
						<div class="card rounded-2 overflow-hidden">
							<div class="position-relative">
								<a href="javascript:void(0)"><img src="/images/products/s11.jpg"
										class="card-img-top rounded-0" alt="..."></a>
								<a href="javascript:void(0)"
									class="btn btn-primary rounded-circle p-2 d-flex align-items-center justify-content-center position-absolute bottom-0 end-0 me-3 mb-n3">
									<i class="ti ti-basket"></i>
								</a>
							</div>
							<div class="card-body p-4">
								<h5 class="fw-semibold fs-4 mb-2">Cute Soft Teddybear</h5>
								<div class="d-flex align-items-center justify-content-between">
									<div class="d-flex align-items-center gap-2">
										<h5 class="fw-semibold fs-4 mb-0">$345</h5>
										<p class="mb-0 text-decoration-line-through">$205</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<h5 class="mb-4 mt-3 fs-5 fw-semibold">나의 재료기반 유저 레시피</h5>
					<div class="col-md-6 col-lg-3">
						<div class="card rounded-2 overflow-hidden">
							<div class="position-relative">
								<a href="javascript:void(0)"><img src="/images/products/s4.jpg"
										class="card-img-top rounded-0" alt="..."></a>
								<a href="javascript:void(0)"
									class="btn btn-danger rounded-circle p-2 d-flex align-items-center justify-content-center position-absolute bottom-0 end-0 me-3 mb-n3">
									<i class="ti ti-heart"></i>
								</a>
							</div>
							<div class="card-body p-4">
								<h5 class="fw-semibold fs-4 mb-2">Boat Headphone</h5>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3">
						<div class="card rounded-2 overflow-hidden">
							<div class="position-relative">
								<a href="javascript:void(0)"><img src="/images/products/s5.jpg"
										class="card-img-top rounded-0" alt="..."></a>
								<a href="javascript:void(0)"
									class="btn btn-danger rounded-circle p-2 d-flex align-items-center justify-content-center position-absolute bottom-0 end-0 me-3 mb-n3">
									<i class="ti ti-basket"></i>
								</a>
							</div>
							<div class="card-body p-4">
								<h5 class="fw-semibold fs-4 mb-2">MacBook Air Pro</h5>
								<div class="d-flex align-items-center justify-content-between">
									<div class="d-flex align-items-center gap-2">
										<h5 class="fw-semibold fs-4 mb-0">$900</h5>
										<p class="mb-0 text-decoration-line-through">$650</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3">
						<div class="card rounded-2 overflow-hidden">
							<div class="position-relative">
								<a href="javascript:void(0)"><img src="/images/products/s7.jpg"
										class="card-img-top rounded-0" alt="..."></a>
								<a href="javascript:void(0)"
									class="btn btn-primary rounded-circle p-2 d-flex align-items-center justify-content-center position-absolute bottom-0 end-0 me-3 mb-n3">
									<i class="ti ti-basket"></i>
								</a>
							</div>
							<div class="card-body p-4">
								<h5 class="fw-semibold fs-4 mb-2">Red Valvet Dress</h5>
								<div class="d-flex align-items-center justify-content-between">
									<div class="d-flex align-items-center gap-2">
										<h5 class="fw-semibold fs-4 mb-0">$200</h5>
										<p class="mb-0 text-decoration-line-through">$150</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3">
						<div class="card rounded-2 overflow-hidden">
							<div class="position-relative">
								<a href="javascript:void(0)"><img src="/images/products/s11.jpg"
										class="card-img-top rounded-0" alt="..."></a>
								<a href="javascript:void(0)"
									class="btn btn-primary rounded-circle p-2 d-flex align-items-center justify-content-center position-absolute bottom-0 end-0 me-3 mb-n3">
									<i class="ti ti-basket"></i>
								</a>
							</div>
							<div class="card-body p-4">
								<h5 class="fw-semibold fs-4 mb-2">Cute Soft Teddybear</h5>
								<div class="d-flex align-items-center justify-content-between">
									<div class="d-flex align-items-center gap-2">
										<h5 class="fw-semibold fs-4 mb-0">$345</h5>
										<p class="mb-0 text-decoration-line-through">$205</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{>layout/mobile_nav}}
	<!-- ---------------------------------------------- -->
	<!-- Import Js Files -->
	<!-- ---------------------------------------------- -->
	<script src="/libs/jquery/dist/jquery.min.js"></script>
	<script src="/libs/jquery-ui/dist/jquery-ui.min.js"></script>
	<script src="/libs/simplebar/dist/simplebar.min.js"></script>
	<script src="/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="/js/app.min.js"></script>
	<script src="/js/app.init.js"></script>
	<script src="/js/app.horizontal.js"></script>
	<script src="/js/app-style-switcher.js"></script>
	<script src="/js/sidebarmenu.js"></script>
	<script src="/js/custom.js"></script>
	<script src="/js/apps/kanban.js"></script>
	<script src="/libs/owl.carousel/dist/owl.carousel.min.js"></script>
	<script src="/libs/select2/dist/js/select2.full.min.js"></script>
	<script src="/libs/select2/dist/js/select2.min.js"></script>
	<script src="/js/forms/select2.init.js"></script>
	<script src="/js/dashboard3.js"></script>
</body>

</html>