<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="MemberDto"  type="com.woori.myapp.entity.MemberDto"/>
		<typeAlias alias="BoardDto"  type="com.woori.myapp.entity.BoardDto"/>
		<typeAlias alias="RecipeDto"  type="com.woori.myapp.entity.RecipeDto"/>
		<typeAlias alias="IngreDto"  type="com.woori.myapp.entity.IngreDto"/>
		<typeAlias alias="FrigoDto"  type="com.woori.myapp.entity.FrigoDto"/>
		
	</typeAliases>
	<mappers>
		<mapper resource="mapper/Member.xml" />
		<mapper resource="mapper/Board.xml" />
		<mapper resource="mapper/Main.xml" />
	</mappers>
	
</configuration>

